import UIKit
import AVFoundation

class ViewController: UIViewController {
    let speechSynthesizer = AVSpeechSynthesizer()

    override func viewDidLoad() {
        super.viewDidLoad()
    }
    
    override func viewDidAppear(_ animated: Bool) {
        super.viewDidAppear(animated)
        performMorningRoutine()
    }
    
    // Funktion für die morgendliche Routine
    func performMorningRoutine() {
        // Begrüßung sagen
        let greeting = "Guten Morgen!"
        speakText(greeting)
        
        // Wetterinformationen abrufen und vorlesen
        let weatherInfo = getWeatherInformation()
        speakText(weatherInfo)
        
        // Weitere morgendliche Aktionen ausführen
        // ...
    }
    
    // Funktion für die nächtliche Routine
    func performNightRoutine() {
        // Gute Nacht wünschen
        let goodNight = "Gute Nacht!"
        speakText(goodNight)
        
        // Weitere nächtliche Aktionen ausführen
        // ...
    }
    
    // Funktion, um den übergebenen Text vorzulesen
    func speakText(_ text: String) {
        let speechUtterance = AVSpeechUtterance(string: text)
        speechUtterance.voice = AVSpeechSynthesisVoice(language: "de-DE")
        speechSynthesizer.speak(speechUtterance)
    }
    
    // Funktion, um Wetterinformationen abzurufen
    func getWeatherInformation() -> String {
        // Hier kannst du Code einfügen, um Wetterdaten von einer API oder einem anderen Quelle zu erhalten
        // Zum Beispiel:
        let temperature = 25
        let weatherDescription = "Sonnig"
        
        let weatherInfo = "Heute wird es \(weatherDescription) mit einer Temperatur von \(temperature) Grad Celsius."
        return weatherInfo
    }
}
